<!-- God damn the look and feel is killing me here-->

<!-- placeholder for hero card / not from material -->

<div class="hero_wrapper">
  <!-- keeping this part as a separate component so that to have it plugin/play-->
  <app-movie-hero-section
    [selectedMovie]="selectedMovie"
  ></app-movie-hero-section>
</div>

<!-- movie detail based on grid / not from material , as i want to control the look and feel-->

<div class="movie_content_wrapper">
  <div class="movie_meta_wrapper">
    <div class="likes">
      <div class="highlight">
        <mat-icon color="warn">favorite</mat-icon>
        <span>82%</span>
      </div>
      <div class="meta muted">
        <span>9,071 votes</span>
      </div>
    </div>
    <div class="rating">
      <div class="highlight">
        <!-- need star / via directive-->
        <app-rating
          [name]="'movie'"
          [rating]="currentRating"
          (setRating)="setNewRating($event)"
        ></app-rating>
      </div>
      <div class="meta muted">
        <span>USER RATING</span>
      </div>
    </div>

    <div class="booking">
      <button mat-raised-button color="primary" (click)="goToTheaters()">
        Book Tickets
      </button>
    </div>
  </div>
  <div class="movie_description">
    <!-- may be have tab based on menu from angular material-->
    <mat-tab-group dynamicHeight>
      <mat-tab label="Summary">
        <app-movie-summary></app-movie-summary>
      </mat-tab>
      <mat-tab label="User Reviews">
        <app-user-reviews></app-user-reviews>
      </mat-tab>
      <mat-tab label="Critic Reviews">
        TODO : Implement critic reviews
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
