<!-- well bros this is a wrapper if you wanna show the hero banner for movie -->
<div class="hero_wrapper"></div>
<!-- this is a content area for you to display theater information-->
<div
  class="movie_content_wrapper mat-typography "
  fxLayout="column"
  [ngClass.gt-xs]="['container']"
>
  <div class="booking_meta_wrapper" *ngIf="bookingDates && bookingDates.length">
    <div class="date_select">
      <ul class="dates">
        <li *ngFor="let showDate of bookingDates">
          <div
            class="date"
            [ngClass]="{ selected: showDate.value == selectedDate }"
          >
            <div class="day" (click)="displayShows(showDate.value)">
              {{ showDate.day }}
            </div>
            <div class="weakday" (click)="displayShows(showDate.value)">
              {{ showDate.dayTitle }}
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <ng-template #noShow>
    <div class="noshow">No Shows Available! Please check later</div>
  </ng-template>

  <!-- Display list of shows ordered by theaters -->
  <div class="shows_Wrapper" *ngIf="!!shows.size; else noShow">
    <div class="theater" *ngFor="let theater of shows | keyvalue">
      <div class="theater_part">
        <span class="mat-h3">{{ getTheaterName(theater.key) }}</span>
      </div>
      <div class="shows">
        <ul class="showList">
          <li
            (click)="showBookingFlow(indShow)"
            *ngFor="let indShow of theater.value"
          >
            <button
              mat-raised-button
              color="accent"
              matTooltip="Total Seats {{ indShow.totalSeats }} - Price  {{
                indShow.price
              }}"
              matTooltipPosition="above"
            >
              <span class="show">{{ getShowTime(indShow.startTime) }}</span>
            </button>
          </li>
          <!-- <li (click)="showBookingFlow()">
            <span class="show">9:45 pm</span>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
</div>
