<div class="hero_banner" [style.background-image]="'url(/assets/kesari-detail.jpg)'">
  <div class="overlay">
    <span class="play"></span>
    <div class="movie_content mat-typography">

      <h2 class="movie_title mat-display-2">Kesari</h2>
      <div class="meta">
        <span class="certification">U/A</span>
        <span class="language">HINDI</span>
      </div>
      <div class="meta tag">
        <ul class="types">
          <li>DRAMA</li>
          <li>HISTORY</li>
          <li>WAR</li>
        </ul>
      </div>
      <div class="release meta">
        <span class="date">21 Mar, 2019</span>
        <span class="duration"> 2 hrs 30 mins</span>
      </div>
    </div>
  </div>
</div>
