<div class="movie_summary">
  <h2 class="mat-h2">SYNOPSIS</h2>
  <p class="description mat-typography">
      Set in the 19th century, Kesari recounts the story of Havildar Ishar SIngh who played a key role in the 1897 Battle of Saragarhi, in which an army of 21 Sikhs fought against a legion of Afghans in what is considered as one of the greatest last-stands in military history.
  </p>
  <div class="cast_section">
    <h2 class="mat-h2">CAST</h2>
    <p class="description mat-typography">
        Set in the 19th century, Kesari recounts the story of Havildar Ishar SIngh who played a key role in the 1897 Battle of Saragarhi, in which an army of 21 Sikhs fought against a legion of Afghans in what is considered as one of the greatest last-stands in military history.
    </p>
  </div>
</div>