<div class="movies_container">

  <h3>Movies</h3>
  <app-movie></app-movie>
  <!-- <mat-grid-list #grid rowHeight="2:1">
      <mat-grid-tile>
          <app-movie></app-movie>
      </mat-grid-tile>
      <mat-grid-tile>
          <app-movie></app-movie>
      </mat-grid-tile>
      <mat-grid-tile>3</mat-grid-tile>
      <mat-grid-tile>4</mat-grid-tile>
      <mat-grid-tile>5</mat-grid-tile>
      <mat-grid-tile>6</mat-grid-tile>
      <mat-grid-tile>7</mat-grid-tile>
      <mat-grid-tile>8</mat-grid-tile>
    </mat-grid-list> -->
</div>
