<mat-toolbar color="primary">
  <div fxHide.gt-xs>
      <button mat-icon-button (click)="onToggleSidenav()">
          <mat-icon>menu</mat-icon>
      </button>
  </div>
  <div class="logo">
    <a href="" [routerLink]="'/'" class="">
        <img src="/assets/mts.png" alt="">
    </a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
      <ul fxLayout fxLayoutGap="15px" class="navigation-items">
          <li>
              <button mat-button (click)="openSignInModal()">Sign In</button>
          </li>
      </ul>
  </div>
</mat-toolbar>
