<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="logo" fxHide.xs>
    <a href="" [routerLink]="'/'" class="">
      <img src="/assets/mts.png" alt="" />
    </a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end">
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li *ngIf="!isLoggedIn">
        <button mat-button (click)="openSignInModal()">Sign In</button>
      </li>
      <li *ngIf="isLoggedIn">
        <a [routerLink]="'/secure/dashboard'" style="vertical-align: sub"
          >Dashboard</a
        >
      </li>
      <li *ngIf="isLoggedIn">
        <button mat-button (click)="logout()">Log Out</button>
      </li>
    </ul>
  </div>
</mat-toolbar>
