.sign_in_form {
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 10px;
  width: 450px;
  max-width: 100%;
}
mat-form-field {
  width: 100%;
}
