<div class="sign_in_wrapper">
    <h1 mat-dialog-title>Register</h1>
    <div class="button_contianer">
      <button mat-raised-button color="primary">
        <mat-icon>input</mat-icon>
        <span>  connect with facebook</span>
      </button>
    </div>
  </div>
  <div class="sign_in_form">
    <mat-form-field>
      <input type="number" matInput placeholder="phone number">
    </mat-form-field> 
    <mat-form-field>
        <input type="email" matInput placeholder="email">
      </mat-form-field> 
  </div>
  
  <div mat-dialog-actions>
      <button mat-raised-button cdkFocusInitial>Submit</button>
  </div>
